<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>TeamBot | TS-Install</title>
        <link rel="stylesheet" href="css/home.css">
    </head>
  <body>
  	<header role="banner">
  <h1>TeamBot - Panel</h1>
  <ul class="utilities">
    <br>
    <li class="users"><a href="#">Mein Account</a></li>
    <li class="logout warn"><a href="">Ausloggen</a></li>
  </ul>
</header>

<nav role='navigation'>
  <ul class="main">
    <li class="dashboard"><a href="#">Dashboard</a></li>
    <li class="edit"><a href="">TS3 - Server</a></li>
    <li class="write"><a href="ts3dash.html">TS3 - Bot</a></li>
    <li class="comments"><a href="#">Clients (TS3)</a></li>
    <li class="users"><a href="#">Bald</a></li>
  </ul>
</nav>

<main role="main">
  
  <section class="panel important">
    <h2>Dashboard</h2>
    <ul>
      <li>Test</li>
    </ul>
  </section>
  
  <section class="panel important">
    <h2>TS3 - Server downloaden</h2>
      <form action="#" th:action="@{/ts3download}" th:object="${download}" method="post">
        <div>
          <input type="submit" name="submit" value="Download" />
        </div>
      </form>
      
  </section>
  
  <section class="panel important">
    <h2>TS3 - Server starten/stoppen</h2>
      <form action="#" th:action="@{/ts3start}" th:object="${start}" method="post">
        <div>
          <input type="submit" name="submit" value="Starten" />
        </div>
      </form>
      <form action="#" th:action="@{/ts3stop}" th:object="${stop}" method="post">
        <div>
          <input type="submit" name="submit" value="Stoppen" />
        </div>
      </form>
  </section>

</main>
  	
  </body>
</html>